@tailwind base;
@tailwind components;
@tailwind utilities;

.markdown-container h1 {
  @apply text-3xl font-bold text-gray-800;
}

.markdown-container h2 {
  @apply text-[1.6666667em] font-bold mt-10 mb-5 text-gray-700;
}

.markdown-container p {
  @apply block text-lg leading-[1.7777778];
}

.markdown-container a {
  @apply text-gray-800 underline underline-offset-1;
}

.markdown-container ul {
  @apply list-disc leading-[1.7777778] text-lg;
  padding-inline-start: 10px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-left: 8px;
}

.markdown-container hr {
  @apply mt-3;
}
