@tailwind base;
@tailwind components;
@tailwind utilities;

.markdown-container h1 {
  @apply text-3xl font-bold text-gray-800;
}

.markdown-container h2 {
  @apply text-2xl font-bold mt-8 mb-3 text-gray-700;
}

.markdown-container p {
  @apply block;
}

.markdown-container a {
  @apply underline underline-offset-1 text-gray-800;
}

.markdown-container ul {
  @apply list-inside list-disc;
  padding-inline-start: 10px;
  margin-block-start: 1em;
  margin-block-end: 1em;
}
